.container{
  display: flex;
  margin: 2rem;
}

button{
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-basis: 15%;
}

.content-container{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}